/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


root{
    .toolbar-title{
      height: 10%;
      background-color: blue!important;
    }
  }
  
  .popover-class {
      --width: 250px;
      --height: 400px;
      --background: yellow;
    }
    
    .pickerClassName {
      // Border color (from the docs)  
      --border-width: 2px;
      --border-style: solid;
      --border-radius: 5%;
      // --border-color: var(--ion-color-light);
      // --background: var(--ion-color-primary);
      // --max-width: 200px;
    
      // Buttons color
      .picker-button {
        color: var(--ion-color-primary);
      }
    
      // Options color
      .picker-opt {
        color: var(--ion-color-warning);
      }
    
      // Selected option color
      .picker-opt-selected {
        color: var(--ion-color-dark);
      }
    
      // Prefix color
      .picker-prefix {
        color: var(--ion-color-primary);
      }
    }
    
    ion-slides {
      height: 100%;
    
      ion-slide {
        align-items: flex-start;
      }
    
      .swiper-slide {
        visibility: hidden;
      }
    
      .swiper-slide.swiper-slide-active {
        visibility: visible;
      }
    }
    
    ion-list-header ion-label {
      margin-top: 16px;
    }
    
    select,
    input {
      border: none;
      outline: none;
      background: transparent;
      width: 100%;
      padding: 8px 6px;
    }
    
    .line {
      height: 3px;
      background: var(--ion-color-light-shade);
      top: 14px;
      z-index: -1;
    }
    
    .img-thumb {
      width: 45px;
      height: 55px;
      object-fit: cover;
      display: block;
    }
    
    .flex {
      display: flex;
    }
    
    .full-width {
      width: 100% !important;
    }
    
    .full-height {
      height: 100% !important;
    }
    
    .absolute {
      position: absolute;
    }
    
    .relative {
      position: relative;
    }
    
    .align-self-center {
      align-self: center;
    }
    
    .align-self-end {
      align-self: flex-end;
    }
    
    .justify-content-center {
      justify-content: center;
    }
    
    .justify-content-space-around {
      justify-content: space-around;
    }
    
    .justify-content-space-evenly {
      justify-content: space-evenly;
    }
    
    .justify-content-space-between {
      justify-content: space-between;
    }
    
    .justify-content-space-end {
      justify-content: flex-end;
    }
    
    .align-items-center {
      align-items: center;
    }
    
    .flex-column {
      flex-direction: column;
    }
    
    .flex-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
    
    .text-tiny {
      font-size: 11px !important;
    }
    
    .text-small {
      font-size: 12px !important;
    }
    
    .text-medium {
      font-size: 14px !important;
    }
    
    .text-normal {
      font-size: 16px !important;
    }
    
    .text-large {
      font-size: 24px !important;
    }
    
    .text-xlarge {
      font-size: 36px !important;
    }
    
    .text-xxlarge {
      font-size: 48px !important;
    }
    
    .radius {
      border-radius: 8px !important;
    }
    
    .divider {
      background: var(--ion-color-light);
      margin: 8px 0;
      height: 1px;
      width: 100%;
    }
    
    .bold {
      font-weight: bold;
    }